[Unit]
Description=Podman container - acquacotta.crunchtools.com

[Service]
Type=simple
EnvironmentFile=/srv/acquacotta.crunchtools.com/config/acquacotta.env
ExecStart=/usr/bin/podman run -i --read-only --rm \
    -p 127.0.0.1:8080:80 \
    --name acquacotta.crunchtools.com \
    -e XDG_DATA_HOME=/data \
    -e FLASK_SECRET_KEY=${FLASK_SECRET_KEY} \
    -e GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID} \
    -e GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET} \
    -v /srv/acquacotta.crunchtools.com/data:/data:Z \
    --tmpfs /tmp \
    --tmpfs /run/httpd \
    --tmpfs /var/log/httpd \
    quay.io/fatherlinux/acquacotta:latest
ExecStop=/usr/bin/podman stop -t 3 acquacotta.crunchtools.com
ExecStopPost=/usr/bin/podman rm -f acquacotta.crunchtools.com
Restart=always

[Install]
WantedBy=multi-user.target
